* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1.3rem;
    background-image: url("../images/Bakery.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
