* {
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    padding: 0.5rem 0;
    background-image: url("../images/mockup-bakery-bread-pastry.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.logo-name {
    display: flex;
    align-items: center;
}

.business-name {
    margin: 0;
    margin-left: 1rem;
}

img {
  width: 50px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
}

.list-item {
    margin-left: 3rem;
}

.list-item:hover {
    color: rgb(223, 222, 222);
}

a {
    text-decoration: none;
    color: white;
}