.logo-name {
    display: flex;
    align-items: center;
}

.business-name {
    color: black;
    margin-left: 1rem;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
    position: relative;
}

.logo {
    width: 50px;
}

ul.desktop-nav {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    position: relative;
   
}

a {
    text-decoration: none;
}

.nav ul a {
    display: block;
    padding: 1.4rem;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.logo-link {
    padding: 0px;
}

ul li ul.dropdown li {
    display: block;
    width: 180%;
    background-color: rgb(192, 187, 187);
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    display: none;
    z-index: 999;
}

ul li a:hover {
    background-color: rgb(199, 141, 66, 20%);
    border: 1px solid white;
    margin: -1px;
}

li:hover ul.dropdown {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    margin: 0;
}

.hamburger-menu {
    border: 1px solid black;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.bar {
    background-color: black;
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
}

.mobile-nav {
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: orange;
    width: 100%;
    z-index: 2;
}

.mobile-nav.active {
    display: none;
}

@media (max-width: 1179px) {
    .business-name {
        display: none;
    }


    .desktop-nav {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    ul li {
        width: 100%;
    }

    .mobile-nav.active {
        display: flex;
        top: 75%
    }

    .nav {
        width: 100%;
    }
}