main {
    width: 80%;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: peachpuff;
    padding: 2rem;
    flex-wrap: wrap;
    height: 80vh;
}

.left-hero {
    width: 50%;;
    padding: 3rem 2rem;
}

.left-hero h1 {
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
}

.left-hero p {
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

button {
    cursor: pointer;
    background-color: white;
    border-radius: 2rem;
}

.explore-btn {
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
}

.explore-btn:hover {
    background-color: rgb(219, 210, 202);
}

.right-hero {
    width: 35%;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 50%;
    border-radius: 100px 0;
    max-width: 400px;
    min-width: 200px;
}

.menu-section {
    padding: 2rem 0 4rem 0;
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.section-title h2, 
.food-container h3 {
    margin-bottom: 0.5rem;
}

.section-title p, 
.food-container p {
    margin-top: 0;
}

#view-more {
    font-size: 1.5rem;
    padding: 0.7rem;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid black;
}

#view-more:hover {
    background-color: rgb(234, 234, 234);
}

.top-menu {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 1.5rem;
}

.food-container {
    text-align: center;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-container img {
    width: 100%;
    max-width: 450px;
}

.add-to-cart-btn {
    font-size: 1.2rem;
    border: 0;
    padding: 0.8rem 1.5rem;
    background-color: orange;
    border-radius: 2rem;
}

@media (max-width: 900px) {
    :root {
        font-size: 0.9rem
    }

    main {
        width: 100%;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        font-size: 0.2rem;
    }

    .left-hero {
        width: 100%;
    }

    .left-hero, .right-hero {
        padding: 0;
        text-align: center;
    }

    .hero-img {
        border-radius: 0;
        display: none;
    }

    .explore-btn {
        margin-bottom: 2rem;
    }
    
    .top-menu {
        flex-direction: column;
        align-items: center;
    }
    

    .food-container {
        margin-bottom: 2rem;
        width: 100%;
        max-width: 350px;
    }

    .add-to-cart-btn {
        width: 80%;
    }
}