.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 60vh;
}

.login-form {
    padding: 3rem 0;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* Copied CSS */
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 800px;
    margin-top: 2rem;
}

input {
    margin-bottom:0.9rem;
    font-size: inherit;
    padding: 0.5rem 1rem;
    border: 1px solid black;
}

input:focus {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

input, button {
    width: 50%;
}

button {
    padding: 0.6rem 0;
    cursor: pointer;

}

.login-btn {
    background-color: rgb(92, 138, 255);
    color: whitesmoke;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    border: 0;
    transition: 0.1s ease-in-out;
}

.login-btn:hover {
    background-color: rgb(71, 120, 245);
}

.create-account {
    background-color: rgb(232, 171, 56);
    margin: 0 auto;
    color: whitesmoke;
    border-radius: 2.5rem;
    padding: 0.8rem 0rem;
    text-decoration: none;
    width: 50%;
}

.create-account:hover {
    background-color: rgb(224, 157, 33);
}

.or {
    position: relative;

}


@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .login-form {
        padding: 3rem 0;
        width: 80%;
    }
}