.flex-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    height: 60vh;
}

.left-side {
    color: black;
    background-image: url("../images/Welcome\ back\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
}

.login-form {
    text-align: center;
    background-color: white;
    width: 40%;
    align-content: center;
}

.form-title {
    margin-top: 0;
    text-align: center;
}
input {
    margin-bottom:0.8rem;
    font-size: inherit;
    padding: 0.5rem;
}

input, button {
    width: 50%;
}

button {
    padding: 0.5rem 0;
    cursor: pointer;
}

.login {
    background-color: rgb(92, 138, 255);
    color: whitesmoke;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    border: 0;
    transition: 0.1s ease-in-out;
}

.login:hover {
    background-color: rgb(71, 120, 245);
}

.create-account {
    background-color: rgb(232, 171, 56);
    color: whitesmoke;
    margin: 0 auto;
    border-radius: 2.5rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.create-account:hover {
    background-color: rgb(224, 157, 33);
}

.or {
    position: relative;

}

.or:before{
    content:" ";
    height: 2px;
    width: 130px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    left: 125px;
  }

  .or:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 125px;
  }