.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 60vh;
}

.left-side {
    color: black;
    background-image: url("../images/Welcome\ back\ background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
}

.login-form {
    text-align: center;
    border: 1px solid black;
    width: 40%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Copied CSS */
background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-title {
    margin-top: 0;
    text-align: center;
}

input {
    margin-bottom:0.8rem;
    font-size: inherit;
    padding: 0.5rem;
}

input:focus {
    transition: 0.2s ease-in-out;
    transform: scale(1.1);
}

button {
    width: 50%;
}

input {
    width: 47%;
}

button {
    padding: 0.5rem 0;
    cursor: pointer;
}

.login {
    background-color: rgb(92, 138, 255);
    color: whitesmoke;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 2.5rem;
    border: 0;
    transition: 0.1s ease-in-out;
}

.login:hover {
    background-color: rgb(71, 120, 245);
}

.create-account {
    background-color: rgb(232, 171, 56);
    color: whitesmoke;
    margin: 0 auto;
    border-radius: 2.5rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
}

.create-account:hover {
    background-color: rgb(224, 157, 33);
}

.or {
    position: relative;

}


@media (max-width: 950px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .left-side {
        height: 100%;
        width: 80%;
    }


    .login-form {
        padding: 2rem 0;
        width: 80%;
    }
}