main {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;

    justify-content: center;
}

h3 {
    text-align: center;
}

.menu-title {
    text-align: center;
    margin-bottom: 0;
}

.menu-container img {
    width: 100%;
    height: 100%;

}

.menu-container {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    height: 100%;
}

.image-container {
    height: 50%;
}

.product-name {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.category {
    background-color: lightgray;
    border-radius: 100px;
    width: fit-content;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.description {
    font-size: 1rem;
}

.price {
    background-color: lightgray;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 0.2rem 3.5rem;
    margin-bottom: 1rem;
}

.add-container {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center
}


.temp-btn {
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: end;
    border-radius: 20px;
    background-color: orange;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
}

.add-to-cart-btn {
    font-size: 1.5rem;
    justify-content: end;
    border-radius: 20px;
    background-color: orange;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
}

.add-btn:hover {
    background-color: rgb(221, 145, 4);
}


.popup-container {
    display: none;
    position: fixed;
    border: 1px solid black;;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 100%;
    width: 100%;
}

.popup {
    background-color: white;
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5rem 2rem;
    width: 50%;
    margin: 15% auto;
    z-index: 9999;
}

.login-link {
    border: 1px solid black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    background-color: white;
    color: black;
}

.login-link:hover {
    background-color: black;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;;
}

.close:hover {
    color: black;
}

#filter {
    width: 280px;
    border-radius: 20px;
    padding: 0.8rem 1rem;
    border: 1px solid black;
    margin-left: auto;
    font-size: 1.2rem;
    margin-right: 2rem;
}


i {
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

i:hover {
    scale: 1.7;
    color: green;
}

