.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 8rem 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    
}

.form-title {
    margin-top: 0;
}

input {
    font-size: inherit;
    padding: 0.5rem;
}

input {
    width: 700px
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 0;
    cursor: pointer;
    margin: 2rem auto;
    width: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: orange;
    border: 0;
    padding: 1rem 0;
}

hr {
    width: 100%;

}

@media (max-width: 950px) {
    label {
        flex-direction: column;
        align-items: start;
    }

    input {
        width: 100%;
    }

    
}