.register-form {
    background-color: white;
    padding: 3rem 0;
    width: 50%;
    max-width: 600px;
    margin: 3rem auto;
    border-radius: 8px;
    border: 0.2px solid rgb(140, 140, 140);
    
}

h2 {
    margin-top: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

input {
    margin-bottom:2rem;
    font-size: inherit;
    padding: 0.5rem;
}

input, button {
    width: 100%;
}

button {
    padding: 0.8rem 0;
    cursor: pointer;
    font-size: 1rem;
    background: radial-gradient(circle, rgba(255,254,157,1) 0%, rgba(217,249,82,1) 100%);
    border: none;
}

button:hover {
    background: radial-gradient(circle, rgba(247,246,108,1) 0%, rgba(217,249,82,1) 100%);
}
