.register-form {
    padding: 5rem 0;
    width: 50%;
    max-width: 600px;
    margin: 3rem auto;
    border-radius: 8px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
}

.container {
    width: 80%;
    margin: 0 auto;
}

#create-account {
    margin-top: 0;
    text-align: center;
}

#type {
    font-size: 1rem;
}

input {
    margin-bottom:2rem;
    font-size: inherit;
    padding: 0.5rem;
}

input, button {
    width: 100%;
}

button {
    padding: 0.8rem 0;
    cursor: pointer;
    font-size: 1rem;
    background-color: rgb(232, 171, 56);
    color: white;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: rgb(224, 157, 33);
}

@media (max-width: 950px) {
    .register-form {
        width: 80%;
    }
}