main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

section {
    text-align: left;
}

.admin-ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.admin-ul li::before {
    content: "[";
}

.admin-ul li::after {
    content: "]";
}

.orders {
    display: block;
}

a {
    color: black;

}

a:hover {
  text-decoration: underline;
}

#reload {
    display: block;
    margin-left: auto;
    width: 30px;
    height: 30px;
}